.red{
    color: red;
}

.blue{
    color: blue;
}

.marginTopProfile{
    margin-top: 25px;
}

.mercuryContainer{
    padding-top: 60px;
}

.uploadImageInput{
    display: none;
    margin-top: 15px;
}

.hideElement{
    display:none;
}

.navbar{
    border:0px;
}

.panel-primary > .panel-heading {
    background-color:#127EA2;
    border-color:#127EA2;
}

.navbar-custom {
    background-color:#00b0eb;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:#127EA2;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}

.navbar-custom .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
}

.label-badge{
    float: right;
    font-size: 18px;
}

.mainName{
    font-size: 22px;
    font-weight: bold;
}

.fontBold{
    font-weight: bold;
}

.subName{
    font-size: 14px;
}

.collapseLink:hover, .collapseLink:active, .collapseLink:focus{
    text-decoration: none;
}

.userImageProfile{
    max-height: 150px;
    margin: 0px auto;
}

.imgUsr{
    max-height: 75px;
    margin: 0px auto;
}

.avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.autocompletedemoCustomTemplate .autocomplete-custom-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal; }
.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
    border-bottom-width: 0; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
    display: block;
    line-height: 2; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
    height: 18px;
    width: 18px; }
	
a.logout {
	margin: 3px 0px 3px 0px;
}
#project-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
}
#project-icon {
    float: left;
    height: 32px;
    width: 32px;
}
#project-description {
    margin: 0;
    padding: 0;
}
.memberContainer {
	display: none;
}